<div class="x-wrap">
    <div class="x-header">
        <div class="x-title">
            <i class="fa fa-2x fa-user"></i><span class="title-text">xx股权融资</span>
        </div>
        <div class="x-panel">
            <div class="fl">
                <span class="x-btn-group">
					<button type="file" class="x-btn" ngf-select="uploadFiles($file, $invalidFiles)" accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
                        <i class="fa fa-file-o"></i>
                        <span class="btn-text">上传图片</span>
                </button>
                </span>
            </div>
        </div>
    </div>
</div>