.charts-layout {
    display: table;
    width: 100%;
    table-layout: fixed;

    .charts-layout-panel {
        display: table-cell;
        vertical-align: middle;

        >h2 {
            font-size: 16px;
        }

        .charts-data {
            height: 360px;
            margin-top: 20px;
        }
    }
}