<div class="login">
	<div class="login-header">
		<h1></h1>
		<div class="logo-text">皮中带稳综合服务平台</div>
	</div>
	<!-- <div class="login-tab">
		<ul>
			<li class="hover">帐号登录</li>
			<li class="x-split"></li>
			<li>手机登录</li>
		</ul>
	</div> -->
	<div class="login-body">
		<div class="login-form">
			<form name="form" novalidate="novalidate" ng-submit="submit(form.$valid)">
				<div class="field-group">
					<input type="text" name="name" ng-model="user.name" class="x-ipt" required placeholder="邮箱/用户名/手机" />
					<div class="x-error" ng-if="interacted(form.name)" ng-messages="form.name.$error">
                        <span ng-message="required">邮箱/用户名/手机不能为空</span>
                    </div>
				</div>
				<div class="field-group">
					<input type="password" name="password" ng-model="user.password" class="x-ipt" required placeholder="密码" />
					<div class="x-error" ng-if="interacted(form.password)" ng-messages="form.password.$error">
                        <span ng-message="required">密码不能为空</span>
                    </div>
				</div>
				<div class="field-group field-tools">
					<button type="submit" class="btn btn-danger" ng-disabled="formDisabled">登录</button>
				</div>
			</form>
		</div>
	</div>
	<div class="login-footer">
		<p>皮中带稳综合服务平台 &copy; 版权所有 &nbsp; 客服热线：010-88880000 &nbsp;88880000</p>
	</div>
</div>