<div class="slide-dialog-header">
    <h2>{{title}}</h2>
    <div class="slide-dialog-toolbar">
        <ul>
            <li><span class="ui-btn slide-dialog-close" ng-click="close(false)"><i class="fa fa-remove"></i></span></li>
        </ul>
    </div>
</div>
<div class="slide-dialog-body x-slide-dialog-body">
    <div class="x-data-panel-fixed">
        <form name="form" novalidate="novalidate" ng-submit="submit(form.$valid);">
            <div class="x-data-panel-body">
                <div class="data-form">
                    <dl ng-repeat="field in fields track by field.id" ng-switch on="field.type">
                        <dt><span ng-if="field.required" class="x-star">*</span>{{field.title}}:</dt>
                        <dd ng-switch-when="text ">
                            <input type="text " name="{{field.name}} " class="x-ipt " ng-model="data[field.name] " placeholder="请输入{{field.title}} " ng-required="field.required " />
                            <div class="x-error " ng-if="interacted(form[field.name]) " ng-messages="form[field.name].$error ">
                                <span ng-message="required ">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                        <dd ng-switch-when="radio ">
                            <label class="radio-group " ng-init="data[field.name]=data[field.name]||field.items[0].id " ng-repeat="item in field.items track by item.id ">
                                <input name="{{field.name}} " ng-model="data[field.name] " value="{{item.id}} " class="x-radio " type="radio" />
                                <span>{{item.value}}</span>
                            </label>
                            <div class="x-error " ng-if="interacted(form[field.name]) " ng-messages="form[field.name].$error ">
                                <span ng-message="required ">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                        <dd ng-switch-when="checkbox ">
                            <label class="checkbox-group " ng-repeat="item in field.items track by item.id ">
                                <input name="{{field.name}} " ng-model="item.checked " ng-click="checkbox(data, field.name, item.checked, item.id) " ng-checked="data[field.name] && data[field.name].indexOf(item.id.toString())> -1" value="{{item.id}}" class="x-checkbox" ng-required="field.required && (!data[field.name] || data[field.name].length === 0)" type="checkbox" />
                                <span>{{item.value}}</span>
                            </label>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                        <dd ng-switch-when="select">
                            <select name="{{field.name}}" ng-model="data[field.name]" ng-options="m.id as m.value for m in field.items"></select>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                        <dd ng-switch-when='date'>
                            <div class="x-date">
                                <input type="text" name="{{field.name}}" class="x-ipt x-ipt-date" ng-model="data[field.name]" ng-required="field.required" datetime>
                            </div>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                        <dd ng-switch-when="editor">
                            <textarea class="x-ipt" rows="8" name="{{field.name}}" height="{{field.height}}" ng-model="data[field.name]" data-ckeditor ng-required="field.required"></textarea>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                        <dd ng-switch-when="imageupload">
                            <div class="x-ipt-upload">
                                <input type="text" name="{{field.name}}" class="x-ipt" ng-model="data[field.name]" ng-readOnly="true" ng-required="field.required" /><span class="x-btn" ng-click="uploadImage(data,field)">选择图片</span></div>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                            <p><img ng-if="data[field.name]" ng-src="{{data[field.name]}}" alt="" ng-style="{'max-width': 320}" /></p>
                        </dd>
                        <dd ng-switch-when="tree">
                            <div class="x-ipt-upload">
                                <input type="text" name="{{field.name}}" class="x-ipt" ng-model="data[field.name]" ng-readOnly="true" ng-required="field.required" /><span class="x-btn" ng-click="selectNode(data,field)">选择节点</span>
                            </div>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                    </dl>
                    <!-- <dl ng-repeat="field in fields track by field.id " ng-switch="field.type ">
                        <dt><span 123 ng-if="field.required " class="x-star ">*</span>{{field.title}}：</dt>
                        <dd ng-switch-when="textarea">
                            <textarea name="{{field.name}}" class="x-ipt" rows="8" ng-model="data[field.name]" placeholder="请输入{{field.title}}" ng-required="field.required"></textarea>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                        <dd ng-switch-when="imageupload">
                            <div class="x-ipt-upload">
                                <input type="text" name="{{field.name}}" class="x-ipt" ng-model="data[field.name]" ng-readOnly="true" ng-required="field.required" /><span class="x-btn" ng-click="uploadImage(data, field)">选择图片</span></div>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                            <p><img ng-if="data[field.name]" ng-src="{{data[field.name]}}" alt="" ng-style="{'max-width': 320}" /></p>
                        </dd>
                        <dd ng-switch-when="fileupload">
                            <div class="x-ipt-upload">
                                <input type="text" name="{{field.name}}" class="x-ipt" ng-model="data[field.name]" ng-readOnly="true" ng-required="field.required" /><span class="x-btn" ng-click="uploadFile(data, field)">选择附件</span></div>
                            <div class="x-error" ng-if="interacted(form[field.name])" ng-messages="form[field.name].$error">
                                <span ng-message="required">{{field.title}}不能为空</span>
                            </div>
                        </dd>
                    </dl> -->
                </div>
            </div>
            <div class="x-data-panel-footer">
                <button class="dialog-button cancel-button" type="button" ng-click="close(false)">取消</button>
                <button class="dialog-button" type="submit">提交</button>
            </div>
        </form>
    </div>
</div>