<div class="section">
    <div class="aside">
        <div class="aside-nav">
            <ul>
                <li>
                    <a class="span_nav" ui-sref="index.members" ui-sref-active="activeA">            		
						<i class="fa fa-paper-plane"></i>
						<span class="icon_text">会员管理</span>
                    </a>
                </li>
                <li>
                    <a class="span_nav" ui-sref="index.notice" ui-sref-active="activeA">            		
						<i class="fa fa-paper-plane"></i>
						<span class="icon_text">通知公告</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header">
        <div class="header-toolbar">
            <div class="tools fl">
                <ul>
                    <li><span class="ico-button">皮中带稳稳中带皮-管理系统</span></li>
                </ul>
            </div>
            <div class="tools fr">
                <ul>
                    <li><span class="ico-button"><i class="fa fa-user"></i> <span login-info /></span></li>
                    <li><a href-void class="ico-button" title="修改个人信息" ng-click="$root.modify()"><i class="fa fa-gears"></i> 修改信息</a></li>
                    <li><a href-void class="ico-button" title="退出登录" ng-click="$root.logout()"><i class="fa fa-sign-in"></i> 退出</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="primary" router-animation="content content@index">
        <div ui-view='content'></div>
    </div>
</div>