<div class="aside-tab">
    <ul>
        <li ng-class="{'hover':$state.current.data.name == 'members'}">
            <a class="span_nav" ui-sref="members" ui-sref-active="activeA">                   
                <i class="fa fa-paper-plane"></i>
                <span class="icon_text">会员管理</span>
            </a>
        </li>
        <li ng-class="{'hover':$state.current.data.name == 'notice'}">
            <a class="span_nav" ui-sref="notice" ui-sref-active="activeA">                    
                <i class="fa fa-paper-plane"></i>
                <span class="icon_text">通知公告</span>
            </a>
        </li>
        <li ng-class="{'hover': $root.global.menu == 'portal' || $state.current.data.name == 'portal'}" ng-click="expand('portal')" class="ico-nav">
            <span class="span_nav">
                <i class="fa fa-2x fa-tasks"></i>
                <span class="ico-text">平台服务</span></span>
            </span>
        </li>
    </ul>
</div>