<div class="aside-nav">
    <ul>
        <li>
            <a class="span_nav" ui-sref="index.members" ui-sref-active="activeA">                   
                <i class="fa fa-paper-plane"></i>
                <span class="icon_text">会员管理</span>
            </a>
        </li>
        <li>
            <a class="span_nav" ui-sref="index.notice" ui-sref-active="activeA">                    
                <i class="fa fa-paper-plane"></i>
                <span class="icon_text">通知公告</span>
            </a>
        </li>
        <li ng-click="expand('portal')" class="ico-nav">
            <i class="fa fa-2x fa-tasks"></i><span class="ico-text">平台服务</span></span>
        </li>
    </ul>
</div>