<div class="x-wrap">
    <div class="charts-layout">
        <div class="charts-layout-panel">
            <div class="charts-data-panel">
                <h2><i class="fa fa-calendar-check-o"></i>最近15个月注册机构数量</h2>
                <div data-view="view1" data-charts="options1" class="charts-data"></div>
            </div>
        </div>
        <div class="charts-layout-panel">
            <div class="charts-data-panel">
                <h2><i class="fa fa-calendar"></i>最近15个月注册机构数量</h2>
                <div data-view="view2" data-charts="options2" class="charts-data"></div>
            </div>
        </div>
    </div>
    <div class="charts-header">
        <div class="charts-title">
            <i class="fa fa-2x fa-pie-chart"></i>
            <span class="title-text">投资机构结构实时分析</span>
        </div>
    </div>
    <div class="charts-layout">
        <div class="charts-layout-panel" style="width: 33.3%">
            <div class="charts-data-panel">
                <h2><i class="fa fa-calendar-check-o"></i>按机构类型</h2>
                <div data-view="view3" data-charts="options3" class="charts-data"></div>
            </div>
        </div>
        <div class="charts-layout-panel" style="width: 33.3%">
            <div class="charts-data-panel">
                <h2><i class="fa fa-calendar-check-o"></i>按机构注册资本</h2>
                <div data-view="view4" data-charts="options4" class="charts-data"></div>
            </div>
        </div>
        <div class="charts-layout-panel" style="width: 33.3%">
            <div class="charts-data-panel">
                <h2><i class="fa fa-calendar-check-o"></i>按机构员工人数</h2>
                <div data-view="view5" data-charts="options5" class="charts-data"></div>
            </div>
        </div>
    </div>
</div>